.root {
    -color-primary: #213555;
    -color-secondary: #4F709C;
    -color-tertiary: #E5D283;
    -color-accent: #F0F0F0;
}

.background-primary {
    -fx-background-color: -color-primary;
}

.background-secondary {
    -fx-background-color: -color-secondary;
}

.background-tertiary {
    -fx-background-color: -color-tertiary;
}

.background-accent {
    -fx-background-color: -color-accent;
}

.nav-container {
    transition: all 0.2s;
}

.nav-container:hover {
    -fx-background-color: #6791C9;
}

.nav-container:pressed {
    -fx-background-color: #3D5777;
}

.nav-container > Button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 16px;
}

.nav-container:pressed > Button {
    -fx-text-fill: -color-accent;
}

#hamburger {
    -fx-background-color: -color-accent;
    -fx-background-insets: 0, 0, 1, 2;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-background-radius: 15%;
}

#hamburger:hover {
    -fx-cursor: hand;
}